
{% assign hasFilters = false %}
{% assign filtersCount = 0 %}


{%- for filter in results.filters -%}
  {% if filter.active_values.size > 0 %}
      {% assign filtersCount = filtersCount | plus: filter.active_values.size %}
      {% assign hasFilters = true %}
  {% endif %}
{%- endfor -%}


<div class="w-1/2 mx-auto flex gap-5 justify-center md:hidden mb-6">
  <!-- filters  -->
  <tail-filters class="w-full" data-is-mobile="true">
   <tail-drawer data-full-height="true" class="w-full">
    <drawer-overlay class="pr-0">
      <drawer-content class="!w-full">
        <drawer-header class="flex justify-between w-full px-5 pt-[10px] mb-4 m-auto border-0 first-element:flex-none">
          <p class="GroteskBold font-extrabold text-base leading-[22px] text-ecorce">FILTRES {% if filtersCount > 0 %}({{ filtersCount }}){% endif %}</p>
          <drawer-close class="w-5 h-5">{% render 'icon-close' %}</drawer-close>
        </drawer-header>
        <drawer-inner class="px-5">
          {% render 'mobile-filters-facets', results: results %}
        </drawer-inner>
        <drawer-footer class="grid" style="justify-content: initial ;" >
          <mobile-apply-filters class=" w-full block cursor-pointer hidden text-center {% render "button", color: "primary"  %} " >
            Appliquer les filtres
          </mobile-apply-filters>
        {% if hasFilters == true %}
          <tail-filters class="block w-full !ml-0 px-3 py-4 mt-5 text-sm font-extrabold text-center border border-black rounded-md cursor-pointer">
            <remove-filters>
              Supprimer les sélections
            </remove-filters>
          </tail-filters>
        {% endif %}
        </drawer-footer>
      </drawer-content>
    </drawer-overlay>
        <drawer-trigger data-filter-trigger class="flex justify-center items-center py-2 px-3 text-sm rounded-[50%] bg-sable cursor-pointer">
      <span class="block">FILTRER</span>
      <div class=" flex items-center justify-center w-3 h-6 ml-2" > {%- render 'icon-small-arrow-right' -%} </div>
    </drawer-trigger>
   </tail-drawer>
  </tail-filters>
   <!-- sorting -->
   <tail-drawer class="w-full">
     <drawer-overlay>
        <drawer-content class="w-full">
          <drawer-header class="flex justify-start w-11/12 py-5 m-auto border-b border-gray-300 first-element:flex-none">
            <drawer-close class="mr-5">{% render 'icon-close' %}</drawer-close>
            <h5 class="text-base font-extrabold">TRIER PAR</h5>
          </drawer-header>
          <drawer-inner class="p-10">
            {% render 'mobile-filters-sort', results: results %}
          </drawer-inner>
        </drawer-content>
     </drawer-overlay>
        <drawer-trigger class="flex justify-center items-center py-2 px-3 text-sm rounded-[50%] bg-sable cursor-pointer">
      <span class="block">TRIER</span>
      <div class=" flex items-center justify-center w-3 h-6 ml-2" > {%- render 'icon-small-arrow-right' -%} </div>
    </drawer-trigger>
 </tail-drawer>
</div>
