<div id="instagram-stories-box"></div>
<div id="instagram-feed-box"></div>
<script src="https://d12oh2gzettinl.cloudfront.net/instagram-story/shopify-script-glider-local.js"></script>
{% schema %}
{
	"name": "Instagram Feed/Story",
	"settings": [],
	"presets": [
		{
			"name": "Instagram Feed/Story", "settings": {}
		}
	]
}
{% endschema %}