<section class="pt-10 pb-16 w-11/12 max-w-5xl mx-auto min-h-[700px]">
  {% if section.settings.display_page_title != blank %}
    <h1 class="text-center text-2xl mb-10">{{ page.title }}</h1>
  {% endif %}
  {% if section.settings.display_page_content != blank %}
    <div class="text-base">
      {{ page.content }}
    </div>
  {% endif %}
</section>

{% schema %}

  {
    "name": "Diagnostic",
    "settings": [

      {
        "type": "checkbox",
        "id": "display_page_title",
        "label": "Display title ?",
        "default": true
      }, {
        "type": "checkbox",
        "id": "display_page_content",
        "label": "Display page content",
        "default": true
      }
    ]
  }
{% endschema %}