<section>
  <div>{{ section.settings.yotpo-content }}</div>
</section>
{% schema %}
  {
    "name": "Yotpo activite fidelite",
    "settings": [
      {
        "type": "textarea",
        "id": "yotpo-content",
        "label": "Content",
        "info": "Paste de yotpo widget here"
      }
    ],
    "presets": [
      {
        "name": "Yotpo activite fidelite"
      }
    ]
  }
{% endschema %}
